@import '../../global.scss';

.carousel-container {
  // width: 90vw ;
}

.top-stories_header {
  // background-color: #103044;
  font-family: inherit;
  background-color: $p1yellow;
  width: 30%;
  padding: 5px;
  margin-bottom: 6px;
}
.story {
  background-color: $p1black;
  max-width: 262px;
  min-height: 275px;
  margin: 4px;
  img {
    width: 250px;
    margin: 6px;
    // padding: 4px;
  }
}
.story_txt {
  color: whitesmoke;
  font-size: 0.8rem;
  margin: 6px

}
.story_txt_title {
  color: $p1yellow;
  margin: 6px;
  font-size: 0.9rem;
}