@import '../../global.scss';

.carousel-container {
  // width: 90vw ;
}

.top-stories_header {
  // background-color: #103044;
  font-family: inherit;
  background-color: $p1yellow;
  width: 30%;
  padding: 5px;
  margin-bottom: 2px;
}
.story {
  background-color: $night;
  border: 2px solid $p1black;
  border-radius: 2px;
  max-width: 258px;
  min-height: 280px;
  margin: 4px;
  img {
    width: 258px;
    border-radius: 1px;
    // margin: 4px;
    // padding: 4px;
  }
}
.story_txt {
  // text-align: right;
  color: whitesmoke;
  font-size: 0.75rem;
  margin: 6px 14px

}
.story_txt_title {
  color: $p1yellow;
  margin: 3px 14px;
  font-size: 0.9rem;
  // border-bottom: 1px solid $p1black;
  // padding-bottom: 4px;
}