@import '../../global.scss';

.forecast_main-component {
// height: 65vh;
// width: 90vw;
// flex-direction: column;
// flex: ;
}

.sol_container {
  display: flex;
  flex-direction: row;
  // margin-top: 8px;
}
.descriptors {
 
}

.sol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $p1navy;
  font-family: 'Roboto', sans-serif;
  color: $p1yellow;
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 35px;
  text-align: center;
  margin: 0px 1px;
  &.main {
    background-color: red($color: #000000);
  }
  &.bold {
    font-weight: 400;
  }
  .day {
    background-color: rgba(53, 90, 74, 0.527);
  }
  .temperature {
    div {
      margin: 10px 6px;
    }
  }
  .wind {
    background-color: rgba(53, 90, 74, 0.527);
    div {
      margin: 10px 6px;
    }
    .empty-space {
      height: 1.3rem;
    }
  }
  .pressure {
    div {
      margin: 10px 6px;
    }
  }
}

@media (min-width: 480px) {
  .sol {
    font-size: 1rem;
    padding: 4px;
  }
}

.block {
  margin: 10px 12px;
}
