@import '../../global.scss';

.UV_main{
  font-family: 'Lato', sans-serif;
  width: 300px;
  border-style: solid;
  border-color: $p1blue;
  background-color: $p1yellow;
  border-width: 5px;
  border-radius: 1px;
}
.UVlevels {
display: flex;
flex-wrap: wrap;
font-size: 0.6rem;
}
.UVtitle {
  // color: $p1navy;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1.4rem;
  // width: 150px;
  height: 35px;
}
.color {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60px;
  height: 50px;
  align-items: center;
  &.green {
  background-color: #4CA34B;
  } &.yellow {
  background-color: #F1F221;
  } &.orange {
  background-color: #D16E14;
  } &.red {
  background-color: #C13434;
  } &.purple {
  background-color: #B1439F;
  }
}

.extreme {
  font-family: 'Roboto', sans-serif;
  // color: $p1navy;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 90px;
  font-size: 0.9rem;
  .purple {
    color: black;
    background-color: #B1439F;
    margin: 4px;
    padding: 10px;
    }
}
