
.UV_main{
  width: 300px;
  background-color: mistyrose;
}
.UVlevels {
display: flex;
flex-wrap: wrap;
font-size: 0.5em;
}

.green {
  background-color: #4CA34B;
  padding: 7px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 25px;
  align-items: center;
}
.yellow {
  background-color: #F1F221;
  padding: 7px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 25px;
  align-items: center;
}
.orange {
  background-color: #D16E14;
  padding: 7px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 25px;
  align-items: center;
}
.red {
  background-color: #C13434;
  padding: 7px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 25px;
  align-items: center;
}
.purple {
  background-color: #B1439F;
  padding: 7px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  width: 45px;
  height: 25px;
  align-items: center;
  //  border-style: solid;
  //  border-color: maroon;
  //  border-collapse: collapse; 
}
.extreme {
  background-color: rgb(255, 255, 255);
  padding: 7px;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 100px;
  align-items: center;
  font-size: 0.8rem;
}
