
.top-stories_header {
  // background-color: #103044;
    background-color: #bd7dab;
    width: 30vw;
}
.top-stories_content {
  // background-color: #bd7dab;
   background-color: #103044;
  height: 30vh;
   width: 85vw;
}