@import './global.scss';

.main-component_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "theheader theheader"
    "forecast forecast"
    "UVindex APOD" 
    "gallery gallery"
    "topstories topstories";
  justify-items: center;
  gap: 0.5%;
  background-color: $pal1black;

  .main-component_header {
    font-size: calc(0.9rem);
    align-items: center;
    justify-content: left;
    background-color: $pal1yellow;
    padding: 12px ;
    // .mars-gif {
    // height: calc(6rem);
    // }
    .title {
    color: $pal1black;
    font-size: 2.4rem;
    font-family: 'KarbonTest';
    }
    .sub-title {
    color: $pal1black;
    font-size: 0.7rem;
    }
  }

  //COMPONENT CONTAINERS//
  .header_container {
    grid-area: theheader;
  }
  .forecast_container {
    grid-area: forecast;
    max-width: 700px;
    background-color: $pal1black;
  }
  .UVindex_container {
    grid-area: UVindex;
    grid-template-columns: minmax(600px, 100%);
  }
  .APOD_container {
    grid-area: APOD;
  }
  .gallery_container {
    grid-area: gallery;
    max-width: 95vw;
  }
  .top-stories_container {
    grid-area: topstories;
    // width: 500px;
    background-color: $offwhite;
    max-width: 95vw;
  }
}

@media (min-width: 980px) {
  .main-component_wrapper {
    grid-template-columns: 3% 4fr 4fr 3%;
    grid-template-areas: 
      ". theheader theheader ."
      ". forecast UVindex ." 
      ". forecast APOD ."
      ". gallery gallery ."
      ". topstories topstories .";
    gap: 1%;
  }
}