@import './global.scss';



.main-component_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "theheader"
    "forecast"
    "UVindex" 
    "gallery"
    "topstories";
  // grid-template-columns: repeat(6, 16.666%);
  // grid-auto-rows: auto;
  gap: 0.5%;
  background-color: $offwhite;

  .main-component_header {
    font-size: calc(0.8rem);
    display: flex;
    align-items: center;
    background-color: $deepred;
   
    
    // width: 700px;
    .mars-gif {
    height: calc(6rem);
    }
    .title {
    color: $offwhite;
    font-size: 2.4em;
    font-family: 'KarbonTest';
    }
    .sub-title {
    color: $offwhite;
    font-size: 0.85em;
    }
  }

  //COMPONENT CONTAINERS//
  .header_container {
    background-color: rgb(128, 70, 70);
    grid-area: theheader;
    max-width: 500px;
  }
  .forecast_container {
    grid-area: forecast;
    max-width: 700px;
    background-color: $lightpink;
  }
  .gallery_container {
    grid-area: gallery;
    max-width: 95vw;
  }
  .top-stories_container {
    grid-area: topstories;
    // width: 500px;
    background-color: $offwhite;
    max-width: 95vw;
  }
  .UVindex_container {
    grid-area: UVindex;
  }
}

@media (min-width: 980px) {
  .main-component_wrapper {
    grid-template-areas: 
      "theheader theheader"
      "forecast UVindex" 
      "gallery gallery"
      "topstories topstories";
  }
}