@import './global.scss';

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.title {
  color: $pal1yellow;

}
.bottom_text {
  color: white;
  font-size: 0.85rem;
  text-decoration: underline;
  

}
.description {
color: white;
font-weight: 300;
font-size: 0.85rem;
line-height: 18px;
text-decoration: none;
}

.main-component_wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "theheader theheader"
    "forecast forecast"
    "UVindex APOD" 
    "gallery gallery"
    "topstories topstories";
  justify-items: center;
  gap: 0.5%;
  background-color: $pal1black;

  .main-component_header {
    font-size: calc(0.9rem);
    align-items: center;
    justify-content: left;
    background-color: $pal1yellow;
    padding: 12px ;
    // .mars-gif {
    // height: calc(6rem);
    // }
    .title {
    color: $pal1black;
    font-size: 2.4rem;
    font-family: 'KarbonTest';
    }
    .sub-title {
    color: $pal1black;
    font-size: 0.7rem;
    }
  }

  //COMPONENT CONTAINERS//
  .header_container {
    grid-area: theheader;
  }
  .forecast_container {
    grid-area: forecast;
    max-width: 700px;
    background-color: $pal1black;
    // border: $pal1yellow;
    // border-style: solid;
    // border-width: 1px;
    // border-radius: 2px;
  }
  .UVindex_container {
    grid-area: UVindex;
  }
  .APOD_container {
    grid-area: APOD;
    background-color: $pal1blue;
    
  }
  .gallery_container {
    grid-area: gallery;
    max-width: 95%;
  }
  .top-stories_container {
    grid-area: topstories;
    // width: 500px;
    background-color: $offwhite;
    max-width: 95%;
  }
}

@media (min-width: 980px) {
  .main-component_wrapper {
    grid-template-columns: 3% 4fr 4fr 3%;
    grid-template-areas: 
      ". theheader theheader ."
      ". forecast UVindex ." 
      ". forecast APOD ."
      ". gallery gallery ."
      ". topstories topstories .";
    gap: 1%;
  }
}