@font-face {
  font-family: 'Chicago';
  src: url('./fonts/Chicago-Regular.woff') format('woff');
  }
@font-face {
  font-family: "Charcoal";
  src: url("./fonts/Charcoal.woff") format("woff")
  }
@font-face {
  font-family: "KarbonTest";
  src: local("Karbon Test thin")
  }

  
// html {
//   //  height: 100%;
//   // width: 100%;
// }
body {
  margin: 0;
  // height: 100%;
  // width: 100%;
}

$night: #1d3245;
$nightfade: #1d324579;
$offwhite: #fafafa;
$basepink: #f5d2d2;
$marsorange: #bf7c6d;
$marsred: #9d5353;

$deepgreen: #256167;
$offwhite: #fafafa;
$lightpink: #f0c0c0;
$deepsalmon: #d16366;
$deepred: #a54351;

$p1black: #111111;
$p1navy: #243634;
$p1navyFade: #243634c2;
$p1blue: #1B646F;
$p1yellow: #fdc00c;
$p1yellowfade: #fdc10cbd;
$p1clay: #e78b5f;
$p1brown: #A97440;

@mixin exampleMixin {
  color: blue;
  background: blue;
}

@mixin mixinWithParams($this, $that) {
  color: $this;
  background: $that;
}

@mixin usingOtherMixin {
  @include mixinWithParams(blue, red);
}