body {
  margin: 0;
}

$pal1teal: #257978;
$pal1green: #355A4A;
$pal1yellow: #CDC883;
$pal1red: #8E2426;
$pal1grey: #969A99;
$pal1beige: #CCC9B6;

$pal2teal: #005C67;
$pal2babybrown: #8C6F4D;
$pal2butter: #E5CEA0;
$pal2winestain: #664A52;
$pal2wine: #67283E;


@mixin exampleMixin {
  color: blue;
  background: blue;
}

@mixin mixinWithParams($this, $that) {
  color: $this;
  background: $that;
}

@mixin usingOtherMixin {
  @include mixinWithParams(blue, red);
}