@import '../../global.scss';

.APOD_main {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  max-height: 380px;
  background-color: $p1navy;
  padding: 2px 3px;
  border-radius: 2px;
}
.APOD_title {
  margin: 10px 1px;
  font-size: 1rem;
  color: $p1yellow;
  text-align: center;
}
.text_container {
  margin: 6px;
}
.bottom_text {
  color: whitesmoke;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 4px;
}
.description {
  color: whitesmoke;
  padding-bottom: 8px;
}
.photograph {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media (min-width: 768px) {
};