@import '../../global.scss';

.APOD_main {
  font-family: 'Roboto', sans-serif;
  max-width: 415px;
  max-height: 380px ;
  // object-fit: contain;
}

.photograph {
  width: 415px;
  height: 250px;
  object-fit: cover;
}